/* -------------------------------------------------active tab start------------------------------------------------------ */
.user-orders-right-completed-main-container {
    width: 100%;
    margin-top: 40px;
}

.user-orders-right-completed-grey-main-container {
    background-color: #f5f5f5;
    margin-bottom: 10px;
    padding: 30px 50px;
    border-radius: 10px;
}

.user-orders-right-completed-order-number-span {
    font-size: 1.3rem;
    font-weight: 600;
}

.user-orders-right-completed-order-date-status-container,
.user-orders-right-completed-delivery-date-payment-container {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.user-orders-right-completed-order-date-span-wrapper,
.user-orders-right-completed-order-status-span-wrapper,
.user-orders-right-completed-delivery-date-span-wrapper,
.user-orders-right-completed-payment-span-wrapper {
    font-size: 1rem;
    font-weight: 600;
    color: #807D7E;
}

.user-orders-right-completed-order-date-span,
.user-orders-right-completed-order-status-span,
.user-orders-right-completed-delivery-date-span,
.user-orders-right-completed-payment-span {
    font-size: 1rem;
    color: #cdcccc;
}

.user-orders-right-completed-product-main-container {
    width: 100%;

}

.user-orders-right-completed-product-image-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-orders-right-completed-product-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 30px 0;
    object-fit: cover;
    object-position: 20% 30%;
}

.user-orders-right-completed-product-details-main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.user-orders-right-completed-product-details-content-container {
    display: flex;
    flex-direction: column;
}

.user-orders-right-completed-product-details-title {
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.user-orders-right-completed-product-details-color-wrapper,
.user-orders-right-completed-product-details-qty-wrapper,
.user-orders-right-completed-product-details-total-wrapper {
    font-size: 1rem;
    font-weight: 600;

}

.user-orders-right-completed-product-details-color,
.user-orders-right-completed-product-details-qty,
.user-orders-right-completed-product-details-total {
    font-size: 0.9rem;
    color: #cdcccc;
}

.user-orders-right-completed-product-details-detail-btn {
    background-color: #8a33fd;
    color: white;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    font-size: 1.25rem;
    border: none;
    transition: all 0.1s ease;
}

.user-orders-right-completed-product-details-detail-btn:hover {
    transform: scale(1.03);
    cursor: pointer;
}



/* -------------------------------------------------active tab end------------------------------------------------------ */