@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Playfair+Display:wght@600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.signin-page-main {
    height: 1067px;
}

/* ---------------------------------------navbar part start------------------------------------------------------- */
.aboutus-nav-container {
    display: flex;
    width: 100%;
    height: 111px;
    border-bottom: 1px solid #80727e;
    align-items: center;
}

.aboutus-nav-element-container {
    width: 1300px;
    height: 46px;
    margin-left: 100px;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.aboutus-nav-element-left {
    display: flex;
    flex-direction: row;
}

.aboutus-nav-logo {
    background-image: url("/src/assets/Logo.png");
    width: 100px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.aboutus-nav-logo:hover {
    cursor: pointer;
}

.aboutus-nav-categories-container {
    display: flex;
    align-items: center;
    margin: 0 20px 0 100px;
}

.aboutus-nav-categories-men,
.aboutus-nav-categories-women,
.aboutus-nav-categories-combos,
.aboutus-nav-categories-joggers {
    text-decoration: none;
    margin: 0 25px 0 25px;
    color: #807D7E;
    font-weight: 500;
    font-size: 1.4rem;
}

.aboutus-nav-categories-shop {
    text-decoration: none;
    margin: 0 17px 0 17px;
    color: #373536;
    font-weight: 500;
    font-size: 1.4rem;
}

.aboutus-nav-search-container {
    display: flex;
    background-color: #f6f6f6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 46px;
    margin-left: 100px;
}

.aboutus-nav-search-input {
    margin-left: 7px;
    width: 350px;
    height: 22px;
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    color: #80727e;
}

.aboutus-nav-search-input:focus {
    outline: none;
    width: 350px;
}

.aboutus-nav-search-img {
    background-image: url("/src/assets/search.png");
    margin-left: 17px;
    width: 20px;
    height: 20px;
}

.aboutus-nav-search-container:focus-within .nav-search-img {
    display: none;
}

.aboutus-nav-icons-container {
    position: absolute;
    right: 170px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 30px 0 30px;
}

.aboutus-nav-wishlist-icon,
.aboutus-nav-account-icon,
.aboutus-nav-shoppingCart-icon {
    width: 44px;
    height: 44px;

}

.aboutus-nav-wishlist-icon {
    background-image: url("/src/assets/Wishlist_icon.png");
}

.aboutus-nav-account-icon {
    background-image: url("/src/assets/Account_icon.png");
}

.aboutus-nav-shoppingCart-icon {
    background-image: url("/src/assets/Shopping_Cart_icon.png");
}

/* ---------------------------------------navbar part end------------------------------------------------------- */
/* ---------------------------------------Our Story Start--------------------------------------------- */
.aboutus-story-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-story-content-container {
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
}


.aboutus-story-left-container {
    width: 50%;
    height: 100%;
    padding: 100px 70px;
    text-align: center;
}

.aboutus-story-right-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.aboutus-story-right-image-wrapper {
    width: 100%;
}

.aboutus-story-right-image {
    width: 100%;

}

.aboutus-story-heading {
    font-size: 4rem;
    margin-bottom: 40px;
}

.aboutus-story-para {
    margin-bottom: 15px;
    font-weight: 500;
}

/* ---------------------------------------Our Story End--------------------------------------------- */
/* ---------------------------------------The Team Start--------------------------------------------- */
.aboutus-team-main-container {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.aboutus-team-heading {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 40px;
}

.aboutus-team-space-container {
    display: flex;
    width: 70%;
    height: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 300px;
}

.aboutus-team-card {
    width: 30%;
    height: 100%;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    transition: all 0.2s ease 0.05s;
    overflow: hidden;
}

.aboutus-team-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.aboutus-team-card:hover .aboutus-team-image {
    transform: scale(1.03);
}

.aboutus-team-image-wrapper {
    width: 100%;
    height: 75%;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.aboutus-team-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 0.2s ease 0.05s;
}

.aboutus-team-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.aboutus-team-name {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
}

.aboutus-team-designation {
    font-size: 0.9rem;
}

.aboutus-team-social-links {
    display: flex;
    justify-content: center;
}

.aboutus-team-social-logos {
    margin: 10px 10px;
    transition: all 0.1s ease os;
}

.aboutus-team-social-logos:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* ---------------------------------------The Team End--------------------------------------------- */
/* ----------------------------------------Footer Section start------------------------------------------ */
.footer-main-container {
    width: 100%;
    height: 600px;
    background-color: #254336;
    /* background-color: #8a33fd; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-sections-main-container {
    margin-left: 300px;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.footer-need-help-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-need-help-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-need-help-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-company-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-company-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-company-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-info-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-info-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-info-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-location-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-location-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-location-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;
}

.footer-social-media-icons-container {
    width: 70%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-social-media-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 0 15px;
    border-radius: 10px;
    transition: scale 0.1s ease-in-out 0s;
}

.footer-social-media-images-container:hover {
    cursor: pointer;
    scale: 1.1;
}

.footer-copyright-container {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright-container h4 {
    color: white;
    font-weight: 400;
    letter-spacing: 0.5px;
}


/* ----------------------------------------Footer Section end------------------------------------------ */