@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}



/* ---------------------------------------Our Story Start--------------------------------------------- */
.aboutus-story-main-container {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutus-story-content-container {
    display: flex;
    width: 80%;

    justify-content: center;
    align-items: center;
}


.aboutus-story-left-container {
    width: 50%;

    padding: 100px 70px;
    text-align: center;
}

.aboutus-story-right-container {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.aboutus-story-right-image {
    width: 100%;

}

.aboutus-story-heading {
    font-size: 4rem;
    margin-bottom: 40px;
}

.aboutus-story-para {
    margin-bottom: 15px;
    font-weight: 500;
}

/* ---------------------------------------Our Story End--------------------------------------------- */
/* ---------------------------------------The Team Start--------------------------------------------- */
.aboutus-team-main-container {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.aboutus-team-heading {
    text-align: center;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 40px;
}

.aboutus-team-space-container {
    display: flex;
    width: 70%;
    height: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 300px;
}

.aboutus-team-card {
    width: 30%;
    height: 100%;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    transition: all 0.2s ease 0.05s;
    overflow: hidden;
}

.aboutus-team-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.aboutus-team-card:hover .aboutus-team-image {
    transform: scale(1.03);
}

.aboutus-team-image-wrapper {
    width: 100%;
    height: 75%;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.aboutus-team-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: all 0.2s ease 0.05s;
}

.aboutus-team-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.aboutus-team-name {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
}

.aboutus-team-designation {
    font-size: 0.9rem;
}

.aboutus-team-social-links {
    display: flex;
    justify-content: center;
}

.aboutus-team-social-logos {
    margin: 10px 10px;
    transition: all 0.1s ease 0s;
}

.aboutus-team-social-logos:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* ---------------------------------------The Team End--------------------------------------------- */