@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Playfair+Display:wght@600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}



/* ---------------------------------------navbar part start------------------------------------------------------- */
.contactus-nav-container {
    display: flex;
    width: 100%;
    height: 111px;
    border-bottom: 1px solid #80727e;
    align-items: center;
}

.contactus-nav-element-container {
    width: 1300px;
    height: 46px;
    margin-left: 100px;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.contactus-nav-element-left {
    display: flex;
    flex-direction: row;
}

.contactus-nav-logo {
    background-image: url("/src/assets/Logo.png");
    width: 100px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.contactus-nav-logo:hover {
    cursor: pointer;
}

.contactus-nav-categories-container {
    display: flex;
    align-items: center;
    margin: 0 20px 0 100px;
}

.contactus-nav-categories-men,
.contactus-nav-categories-women,
.contactus-nav-categories-combos,
.contactus-nav-categories-joggers {
    text-decoration: none;
    margin: 0 25px 0 25px;
    color: #807D7E;
    font-weight: 500;
    font-size: 1.4rem;
}

.contactus-nav-categories-shop {
    text-decoration: none;
    margin: 0 17px 0 17px;
    color: #373536;
    font-weight: 500;
    font-size: 1.4rem;
}

.contactus-nav-search-container {
    display: flex;
    background-color: #f6f6f6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 46px;
    margin-left: 100px;
}

.contactus-nav-search-input {
    margin-left: 7px;
    width: 350px;
    height: 22px;
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    color: #80727e;
}

.contactus-nav-search-input:focus {
    outline: none;
    width: 350px;
}

.contactus-nav-search-img {
    background-image: url("/src/assets/search.png");
    margin-left: 17px;
    width: 20px;
    height: 20px;
}

.contactus-nav-search-container:focus-within .nav-search-img {
    display: none;
}

.contactus-nav-icons-container {
    position: absolute;
    right: 170px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 30px 0 30px;
}

.contactus-nav-wishlist-icon,
.contactus-nav-account-icon,
.contactus-nav-shoppingCart-icon {
    width: 44px;
    height: 44px;

}

.contactus-nav-wishlist-icon {
    background-image: url("/src/assets/Wishlist_icon.png");
}

.contactus-nav-account-icon {
    background-image: url("/src/assets/Account_icon.png");
}

.contactus-nav-shoppingCart-icon {
    background-image: url("/src/assets/Shopping_Cart_icon.png");
}

/* ---------------------------------------navbar part end------------------------------------------------------- */
/* ---------------------------------------feedback Start--------------------------------------------- */
.contactus-mid-main-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    /* background-color: #807D7E; */
}

.contactus-mid-heading-container {
    margin-bottom: 30px;
}

.contactus-mid-heading {
    font-size: 3rem;
}

.contactus-mid-content-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.contactus-mid-left-upper-main-container {
    width: 30%;
    height: 100%;
    margin: 0 25px;
    padding: 70px 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    /* border: 1px solid red; */

}

.contactus-mid-left-upper-heading,
.contactus-mid-left-lower-heading {
    font-size: 1.6rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #474747;
}

.contactus-mid-left-upper-content,
.contactus-mid-left-lower-content {
    font-size: 0.9rem;
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    color: #807D7E;
}

.contactus-mid-left-upper-contact,
.contactus-mid-left-lower-contact {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
    color: #807D7E;
}

.contactus-mid-right-main-container {
    width: 60%;
    height: 100%;
    margin: 0 25px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;

}

.contactus-mid-right-content-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contactus-mid-right-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.contactus-mid-right-name-input,
.contactus-mid-right-email-input,
.contactus-mid-right-phone-input {
    width: 32%;
    height: 50px;
    outline: none;
    background-color: #f3f3f3;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0 30px;
    border-radius: 5px;
    border: none;
}

.contactus-mid-right-textarea-container {
    margin-top: 20px;
}

.contactus-mid-right-feedback-textarea {
    width: 100%;
    outline: none;
    background-color: #f3f3f3;
    color: #807D7E;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
}

.contactus-mid-right-btn-container {
    display: flex;
    justify-content: end;
    margin-top: 10px;

}

.contactus-mid-right-btn {
    padding: 16px 80px;
    background-color: #8a33fd;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: all 0.1s ease 0.05s;
}

.contactus-mid-right-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

/* ---------------------------------------feedback End--------------------------------------------- */
/* ----------------------------------------Footer Section start------------------------------------------ */
.footer-main-container {
    width: 100%;
    height: 600px;
    background-color: #254336;
    /* background-color: #8a33fd; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-sections-main-container {
    margin-left: 300px;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.footer-need-help-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-need-help-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-need-help-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-company-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-company-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-company-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-info-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-info-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-info-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-location-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-location-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-location-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;
}

.footer-social-media-icons-container {
    width: 70%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-social-media-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 0 15px;
    border-radius: 10px;
    transition: scale 0.1s ease-in-out 0s;
}

.footer-social-media-images-container:hover {
    cursor: pointer;
    scale: 1.1;
}

.footer-copyright-container {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright-container h4 {
    color: white;
    font-weight: 400;
    letter-spacing: 0.5px;
}


/* ----------------------------------------Footer Section end------------------------------------------ */