@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.signup-page-main {
    height: 100vh;
}

/* ---------------------------------------navbar part start------------------------------------------------------- */
.signup-nav-guest-container {
    display: flex;
    width: 100%;
    background-color: var(--bg-light-color);
    height: 11vh;
    border-bottom: 1px solid var(--font-color);
    align-items: center;
    padding: 50px 90px;
}

.signup-nav-guest-image-main-container {
    cursor: pointer;
    width: 150px;
}

.signup-nav-guest-links-main-container {
    margin: 0 70px 0 100px;
    display: flex;
    flex-direction: row;
}

.signup-nav-guest-links-content-container {
    width: 170px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-nav-guest-links-span {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.2s ease;
}

.signup-nav-guest-links-span:hover {
    transform: scale(1.04);
}

.signup-nav-search-container {
    display: flex;
    background-color: var(--input-bg-color);
    border-radius: 10px;
    padding: 0 30px;
    align-items: center;
    width: 300px;
    height: 46px;
}

.signup-nav-search-magnifier-img {
    cursor: pointer;
}

.signup-nav-search-input {
    margin-left: 7px;
    width: 250px;
    height: 22px;
    background-color: var(--input-bg-color);
    border: none;
    font-family: sans-serif;
    font-size: 0.85rem;
    font-weight: 700;
    color: var(--font-color);
}

.signup-nav-search-input:focus {
    outline: none;
    width: 250px;
}

.signup-nav-search-input::placeholder {
    color: var(--font-color);
}

.signup-nav-signup-btn-container {
    margin-left: 60px;
}

.signup-nav-signup-btn {
    background-color: var(--button-color);
    color: white;
    padding: 14px 50px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.signup-nav-signup-btn:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 12px var(--shadow-color)
}

.signup-nav-icons-container {
    margin-left: 40px;
}

.signup-nav-icons-content-container {
    display: flex;
    flex-direction: row;
}

.signup-nav-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 25px;
    cursor: pointer;
    margin: 0 20px;

    transition: all 0.2s ease;
}

.signup-nav-icons-wrapper:hover {
    transform: scale(1.05);
    background-color: var(--input-bg-color);
    border-radius: 50%;
}


/* ---------------------------------------navbar part end------------------------------------------------------- */

.signup-mid-container {
    display: flex;
    height: 89vh;
    width: 100%;
}

/* ---------------------------------------signin mid part Left Start------------------------------------------------------- */
.signup-mid-left-image-container {
    width: 50%;
    overflow: hidden;
}

.signup-mid-left-image-overlay {
    width: 100%;
    height: 100%;

}

.signup-mid-left-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
    animation: zoomIn 0.8s ease-out;
}

/* ---------------------------------------signin mid part Left End------------------------------------------------------- */
/* ---------------------------------------signin mid part Right Start------------------------------------------------------- */
.signup-right-heading-main-container {
    margin-bottom: 30px;
}


.signup-right-main-container {
    flex: 1;
    display: flex;
    background-color: var(--bg-light-color);

}

.signup-right-form-wrapper {
    width: 70%;
    margin: 60px;
    animation: fadeInUp 0.8s ease-out 0.2s both;


}

.signup-right-heading {
    font-size: 2rem;
    font-weight: 600;
    color: var(--font-color);
    margin-bottom: 5px;
    letter-spacing: -0.5px;
}

.signup-right-heading-info {
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.4px;
}


.signup-mid-right-form-social-btn-google-btn,
.signup-mid-right-form-social-btn-twitter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 30px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    background-color: var(--button-color);
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.signup-mid-right-form-social-btn-google-btn:hover,
.signup-mid-right-form-social-btn-twitter-btn:hover {
    transform: scale(1.015);
    box-shadow: 0 4px 12px var(--shadow-color)
}

.signup-mid-right-form-social-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.signup-right-email-password-main-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.signup-right-email-label {
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

.signup-right-email-input {
    border: 1px solid var(--button-color);
    background-color: var(--input-bg-color);
    color: var(--font-color);
    border-radius: 8px;
    height: 58px;
    line-height: 48px;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0 15px;
    box-sizing: border-box;
}

.signup-right-email-input:focus {
    outline: var(--button-color)
}

.signup-right-email-error-message {
    margin-top: 10px;
    color: red;
    letter-spacing: 0.4px;
    font-weight: 600;
    font-size: 0.9rem;
}

.signup-right-password-container {
    display: flex;
    flex-direction: column;

}

.signup-right-password-label-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

.signup-mid-right-hidden-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80px;
    justify-content: space-between;
}

.signup-mid-hidden-img {
    padding: 0;
    margin: 0;
    display: flex;
    transform: scale(1);
    color: var(--font-color);
    flex-direction: row;
    cursor: pointer;
}

.signup-mid-hidden-label {
    font-weight: 600;
    text-decoration: none;
    color: var(--font-color);
    transition: all 0.2s ease;
}

.signup-mid-hidden-label:hover {
    color: var(--font-color);
    letter-spacing: 1px;
    text-decoration: underline;

}

.signup-right-password-input {
    border: 1px solid var(--button-color);
    color: var(--font-color);
    border-radius: 8px;
    height: 58px;
    line-height: 48px;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0 15px;
    box-sizing: border-box;
    background-color: var(--input-bg-color);
}

.signup-right-mid-info-container {
    display: flex;
    justify-content: start;
    margin-top: 10px;
}

.signup-right-mid-info {
    color: var(--font-color);
    font-size: 0.85rem;
    font-weight: 600;
}

.signup-right-checkbox-container {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
    margin: 15px 0;
}

.signup-right-agree-subscribe-container {
    display: flex;
    align-items: center;
}

.signup-right-agree-subscribe-container label a:hover {
    letter-spacing: 1px;
}

.signup-right-checkbox-container label {
    margin-left: 10px;
    letter-spacing: 0.5px;
}

.signup-right-checkbox-container a {
    text-decoration: underline;
    font-weight: 700;
    color: var(--font-color)
}

.signup-right-checkbox-container a:hover {
    color: var(--font-color);
    text-decoration: underline;
    font-weight: 800;
}

.signup-right-checkbox-container input {
    width: 18px;
    height: 18px;
    accent-color: var(--font-color)
}


.signup-right-agree-subscribe-container {
    margin-top: 10px;
}

.signup-right-button-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 15px;

}

.signup-right-login-btn {
    width: 140px;
    height: 46px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 20px;
    border-radius: 7px;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    background-color: var(--button-color);
    border: none;
    transition: all 0.2s ease;
    cursor: pointer;
}

.signup-right-login-btn:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px var(--shadow-color)
}

.signup-right-signup-btn {
    text-decoration: none;
    color: var(--font-color);
    font-size: 0.9rem;
    font-weight: 600;
}

.signup-right-signup-btn span {
    text-decoration: underline;
    color: var(--font-color);
    font-size: 0.9rem;
    font-weight: 700;
}

.signup-right-signup-btn span:hover {
    letter-spacing: 0.4px;
}

/* ---------------------------------------signin mid part Right End------------------------------------------------------- */

/* Animations */
@keyframes zoomIn {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}