@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Playfair+Display:wght@600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}



/* ---------------------------------------navbar part start------------------------------------------------------- */
.terms-nav-container {
    display: flex;
    width: 100%;
    height: 111px;
    border-bottom: 1px solid #80727e;
    align-items: center;
}

.terms-nav-element-container {
    width: 1300px;
    height: 46px;
    margin-left: 100px;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.terms-nav-element-left {
    display: flex;
    flex-direction: row;
}

.terms-nav-logo {
    background-image: url("/src/assets/Logo.png");
    width: 100px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.terms-nav-logo:hover {
    cursor: pointer;
}

.terms-nav-categories-container {
    display: flex;
    align-items: center;
    margin: 0 20px 0 100px;
}

.terms-nav-categories-men,
.terms-nav-categories-women,
.terms-nav-categories-combos,
.terms-nav-categories-joggers {
    text-decoration: none;
    margin: 0 25px 0 25px;
    color: #807D7E;
    font-weight: 500;
    font-size: 1.4rem;
}

.terms-nav-categories-shop {
    text-decoration: none;
    margin: 0 17px 0 17px;
    color: #373536;
    font-weight: 500;
    font-size: 1.4rem;
}

.terms-nav-search-container {
    display: flex;
    background-color: #f6f6f6;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 46px;
    margin-left: 100px;
}

.terms-nav-search-input {
    margin-left: 7px;
    width: 350px;
    height: 22px;
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    color: #80727e;
}

.terms-nav-search-input:focus {
    outline: none;
    width: 350px;
}

.terms-nav-search-img {
    background-image: url("/src/assets/search.png");
    margin-left: 17px;
    width: 20px;
    height: 20px;
}

.terms-nav-search-container:focus-within .nav-search-img {
    display: none;
}

.terms-nav-icons-container {
    position: absolute;
    right: 170px;
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 30px 0 30px;
}

.terms-nav-wishlist-icon,
.terms-nav-account-icon,
.terms-nav-shoppingCart-icon {
    width: 44px;
    height: 44px;

}

.terms-nav-wishlist-icon {
    background-image: url("/src/assets/Wishlist_icon.png");
}

.terms-nav-account-icon {
    background-image: url("/src/assets/Account_icon.png");
}

.terms-nav-shoppingCart-icon {
    background-image: url("/src/assets/Shopping_Cart_icon.png");
}

/* ---------------------------------------navbar part end------------------------------------------------------- */
/* ---------------------------------------Terms Mid Start--------------------------------------------- */
.terms-mid-main-page-container {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.terms-mid-main-content-container {
    width: 80%;
    height: 80%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #254336;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.terms-mid-main-left-container {
    width: 50%;
    height: 90%;
    background-color: #254336;
    border-radius: 50px;
    margin: 0 55px;

}



.terms-mid-main-left-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 30px 90px;
}

.terms-mid-main-left-image-wrapper {
    width: 60%;
    height: 70px;
    overflow: hidden;
}

.terms-mid-main-left-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(200);
}

.terms-mid-main-left-horizontal-line {
    width: 60%;
    height: 1px;
    background-color: white;
    margin-top: 20px;
}

.terms-mid-main-left-links-container {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;

}

.terms-mid-main-anchor {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 33px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

.terms-mid-main-anchor .badges {
    transition: transform 0.3s ease;
}

.terms-mid-main-anchor.active-term {
    letter-spacing: 1.5px;

}

.terms-mid-main-anchor.active-term .badges {
    transform: scale(1.3);
}


.terms-mid-main-anchor:hover {
    cursor: pointer;
}

.terms-mid-main-anchor span {
    margin-left: 25px;
}

.terms-mid-main-right-container {
    width: 100%;
    height: 100%;
    color: #254336;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
}

.terms-mid-main-right-content-container {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 30px;
    font-weight: 600;
    padding: 0 100px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.terms-mid-main-right-content-para {
    animation: fadeInUp 0.5s ease-out;
}


.terms-mid-main-right-content-container.active {
    opacity: 1;
    transform: translateY(0);
}

.terms-mid-main-right-heading {
    font-size: 2.5rem;
}

.terms-mid-main-right-content-heading {
    margin-top: 50px;
    animation: zoomIn 0.5s ease-out;
}

.terms-mid-main-right-content-list {
    margin-top: 50px;

    font-size: 0.875rem;
}

.terms-mid-main-right-content-list p {
    margin-top: 20px;
}

@keyframes zoomIn {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* ---------------------------------------Terms Mid End--------------------------------------------- */
/* ----------------------------------------Footer Section start------------------------------------------ */
.term-footer-main-container {
    width: 100%;
    height: 500px;
    background-color: #254336;

    /* margin-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-sections-main-container {
    margin-left: 300px;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.footer-need-help-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-need-help-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-need-help-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-company-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-company-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-company-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-info-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-info-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-info-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-location-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-location-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-location-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;
}

.footer-social-media-icons-container {
    width: 70%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-social-media-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 0 15px;
    border-radius: 10px;
    transition: scale 0.1s ease-in-out 0s;
}

.footer-social-media-images-container:hover {
    cursor: pointer;
    scale: 1.1;
}

.footer-copyright-container {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright-container h4 {
    color: white;
    font-weight: 400;
    letter-spacing: 0.5px;
}


/* ----------------------------------------Footer Section end------------------------------------------ */