@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Playfair+Display:wght@600;700;800&display=swap');

/* ----------------------------------------Footer Section start------------------------------------------ */
.footer-main-container {
    width: 100%;
    height: 600px;
    background-color: #254336;
    /* background-color: #8a33fd; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-sections-main-container {
    margin-left: 300px;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.footer-need-help-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-need-help-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-need-help-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-company-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-company-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-company-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-info-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-info-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-info-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;

}

.footer-location-section-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-location-heading {
    color: white;
    font-size: 1.6rem;
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: 600;
}

.footer-location-links {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 16px 0;
    font-weight: 400;
}

.footer-social-media-icons-container {
    width: 70%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-social-media-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 0 15px;
    border-radius: 10px;
    transition: scale 0.1s ease-in-out 0s;
}

.footer-social-media-images-container:hover {
    cursor: pointer;
    scale: 1.1;
}

.footer-copyright-container {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-copyright-container h4 {
    color: white;
    font-weight: 400;
    letter-spacing: 0.5px;
}


/* ----------------------------------------Footer Section end------------------------------------------ */